# Log level - enable debug logging
# LOG_LEVEL=debug

# Optional
# VALUE_PROVIDER_CLIENT_PORT=3101
# Set to "fixed" to use a fixed provider, leave empty for ccxt provideror smartccxt
# VALUE_PROVIDER_IMPL="fixed"
# Weighted median decay factor
# MEDIAN_DECAY=0.00005
# Number of trades to fetch per batch
# TRADES_HISTORY_SIZE=1000
## for smartccxt
ENABLE_OUTLIER_FILTER=true
ENABLE_VOLUME_WEIGHTING=true
OUTLIER_THRESHOLD_PERCENT=0.5
VOLUME_LOOKBACK_SECONDS=3600